In [ ]:
import sqlite3
import pandas as pd

In [ ]:
#Connecting to sqlite, creat db object
# Opens db OR creates new db in same location py file is saved
conn = sqlite3.connect('example.db')

#Creating a cursor object connected to db 
c = conn.cursor()

In [ ]:
# Droping sample table if already exists from previous practice
c.execute("DROP TABLE IF EXISTS table_4")

In [ ]:
# Define table
add_table = '''CREATE TABLE table_7(
  country TEXT,
  state TEXT,
  revenue DECIMAL,
  created_at TEXT);
'''

# Execute the command (on cursor object)
c.execute(add_table) 

# Commits changes to db (on db object)
conn.commit()

In [ ]:
# YYYY-MM-DD

# Populate table
pop_table = '''INSERT INTO table_7(country, state, revenue, created_at) VALUES
('USA', 'MI', 2, '20200823'),
('USA', 'MI', 2, '20200923'),
('USA', 'CO', 3, '20201202'),
('CA', 'VC', 2, '20200329'),
('CA', 'VC', 2, '20201208'),
('CA', 'AL', 3, '20201214'),
('USA', 'HI', 2, '20200106'),
('USA', 'CO', 3, '20200619');'''

c.execute(pop_table) 

# Commit changes to the data
conn.commit()

In [ ]:

query1 = '''SELECT country, 
state, (SE)
SUM(revenue) AS total_revenue
FROM table_7
GROUP BY country, state
ORDER BY country, state;
'''

c.execute(query1).fetchall()

In [ ]:
# Extracting week in SQL server using WEEK(__), or EXTRACT(WEEK FROM __)
# IN SQLite need to use strftime set to week #
# strftime('%W', created_at) as week
query2 = '''SELECT created_at
FROM table_7
'''

c.execute(query2).fetchall()

In [ ]:
# As df
df = pd.DataFrame(c.execute(query2))
df

In [ ]:
type(df[0][1])

In [ ]:
c.close()

In [ ]:
#Closing the connection
conn.close()